---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Hero from "../components/Hero.astro";
import ApiSection from "../components/ApiSection.astro";
import Performance from "../components/Performance.astro";
import Features from "../components/Features.astro";
import Pricing from "../components/Pricing.astro";
import Roadmap from "../components/Roadmap.astro";
import Status from "../components/Status.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="UUID as a Service - Web-Scale String Generation">
    <main>
        <Banner />
        <div class="bg-gray-50">
            <Hero />
            <ApiSection />
            <Performance />
            <Features />
            <Pricing />
            <Roadmap />
            <Status />
            <Footer />
        </div>
    </main>
</Layout>
